<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Change Password </title>
</head>
<body style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;">
<!-- BEGIN BODY --> 
<table width="600" border="0" cellspacing="0" cellpadding="0">
   <tr>
       <td width="560"  style="font-family:arial,sans-serif;font-size:11px;line-height:14px;color:#66666;">
       	

<div align="justify" style="padding-left:10px"><br />
  <span style="font-family:arial,sans-serif;font-size:11px;line-height:18px;color:#666666;">Dear ##Name##,<br />
  Welcome to the Blueprint!</span>
  <br /><br />
  <span style="font-family:arial,sans-serif;font-size:11px;line-height:14px;color:#666666;">
We'd like to inform that you have been registered with Blueprint. Following is your account details:<br/>
------------------------------------------------<br/>
Your login is: ##UserEmail##<br/>
Your password is: ##TempPassword##<br/>
------------------------------------------------<br/><br/>

IMPORTANT: For security reason we suggest you to change your password immediately. To start using your account please click on the link below: <br /><br/>
<a href="http://localhost:08080/Account/ChangePassword">http://localhost:08080/Account/ChangePassword</a>
<br/><br/>

You are always welcome to send us your comments or requests to improve our services.<br/><br/>

Best regards,<br/>
Blueprint Team<br/>
<a href="mailto:nsinha@hotmail.com">nsinha@hotmail.com</a><br/>
</span>
</div>
</td>
  </tr>
</table>

<!-- END BODY -->

</body>
</html>